@charset "UTF-8";

@media screen and (max-width: 768px){
    *{
        padding: 0px;
        margin: 0px;   
    }
    body{
        background-color: rgba(199, 199, 149, 0.644);
        width: 100vw;
        height: 100vh;
    }

    header > h1{
        font-size: 0.7em;
        padding: 0px 20px;
    }

    main{
        width: 100vw;
        position: fixed;
    }
}